services:
  - type: pserv
    name: neurolearn-postgres
    env: postgres
    plan: free
    
  - type: web
    name: neurolearn-backend
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: JWT_SECRET
        generateValue: true
      - key: DATABASE_URL
        fromService:
          type: pserv
          name: neurolearn-postgres
          property: connectionString